body
{
	margin: 8px;
	padding: 0;
	font-size: 100%;
}


#header
{
	position: static;
	width: auto;
}

#nav li
{
	margin: 0;
	display: inline;
	margin-right: 2em;
}
#nav_admin
{
	display: none;
}

dd, dt
{
	display: block;
	text-align: left;
}

.body
{
	margin: 0;
	width: 100%;
	background: transparent;
}
.flash, .error
{
	margin-left: 0;
}

#bookmarks .tools
{
	display: none;
	width: 44px;
}

.bookmark
{
	margin-left: 20px;
}

.icon
{
	width: 20px;
	height: 20px;
}
#bookmarks .tools
{
	line-height: 30px;
}

#nav 
{
	display: none;
}

