/*--------------------------------------------------------------------*
 * ELEMENTS
 *--------------------------------------------------------------------*/

body
{
	background: #fafafa;
	font-family: georgia, serif;
	color: #333;

	font-size: 74%;
	margin: 32px;
	padding: 0;
}

p, li
{
	line-height: 1.4em;
}

img
{
	border: none;
}

a
{
	text-decoration: none;
	color: #b43;
}
a:hover
{
	color: #333;
}

h1, h2, h3
{
	font-family: "franklin gothic medium";
	font-family: georgia;
	text-transform: lowercase;
	font-weight: normal;
	margin: 0.0em 0 1em;
}

h1
{
	font-size: 300%;
}
h1 a
{
	color: #333;
}
h2
{
	font-size: 180%;
}
h3
{
	font-size: 150%;
}

hr
{
	margin: 2em 0em;
	border: none;
	border-top: 1px dotted #aaa;
	border: none;
}

dt
{
	float: left;
	clear: left;
	width: 7em;
	padding: 0.5em;
	margin-top: 0.5ex;
	text-align: right;
	font-weight: normal;
}

dd
{
	margin-left: 1em;
	padding: 0.5em;
}

input, textarea
{
	font-family: inherit;
}

/*--------------------------------------------------------------------*
 * GLOBAL IDs/CLASSES
 *--------------------------------------------------------------------*/

#nav
{
	margin-top: -1.5em;
	padding: 0 0px;
}

#nav ul
{
	list-style: none;
	margin: 0px;
	margin-bottom: 1.5em;
	padding: 0px 32px;
}

#header
{
	position: absolute;
	width: 200px;
	padding: 24px;
	top: 32px;
}

.body, .flash, .error
{
	background: #eee;
	padding: 32px;
	width: 500px;
	-moz-border-radius: 24px;
	border-radius: 24px;
	margin-left: 220px;
	margin-bottom: 32px;
}

#bookmarks
{
	text-transform: lowercase;
}

#bookmarks ul
{
	margin: 0;
	padding: 0;
}

#bookmarks li
{
	color: #888;
	list-style: none;
	margin: 0;
	padding: 0 0px;
}

#bookmarks .tools
{
	visibility: hidden;
	margin: 0 4px;
}
#bookmarks .visible
{
	visibility: visible !important;
}

#bookmarks_active ul
{
	font-size: 120%;
}

#bookmarks_active li
{
}

#bookmarks_active li
{
	display: block;
	margin-left: 0px;
	margin-bottom: 12px;
}
#bookmarks_active .tools
{
	width: 28px;
	height: 28px;
	float: left;
	position: relative;
	top: 2px;
	left: -4px;
	line-height: 20px;
}

#bookmarks_active .bookmark
{
	font-size: 200%;
	display: block;
	margin-bottom: 4px;
}

#bookmarks_stale ul
{
}

#bookmarks_stale .freshness
{
	margin-left: 1em;
}
#bookmarks_stale .freshness:before
{
	content: "...";
}


#footer
{
	color: #888;
}


/*--------------------------------------------------------------------*
 * CLASSES
 *--------------------------------------------------------------------*/

.subtitle
{
	margin-top: -1.5em;
}

.flash, .error
{
	background: #fa4;
	padding: 24px 32px;
	margin-top: 64px;
}

.icon
{
	position: relative;
	top: 1px;
	opacity: 0.3;
}
.icon:hover, .active .icon
{
	opacity: 1.0;
}

.controls a
{
	color: #888;
}
.controls a.active
{
	color: #b43;
}

.nodisplay
{
	display: none;
}
