{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block body %}

<div class="body">
	<h2>About</h2>
	<p>pysoso is a lightweight RSS feed reader, written in <a href="http://flask.pocoo.org/">flask</a>.<br />
	it mirrors the functionality provided by <a href="http://www.rososo.com/">rososo</a>.</p>
	<p>
	rather than presenting you with the most recent content from the sites that you follow, it simply lets you know
	when they have been updated. you can then read the content of these sites as it is intended: on the site itself.
	</p>
	<h3>shortcuts and helpers</h3>
	<p>
	pysoso supports a number of keyboard shortcuts to speed up common tasks. these include:
	</p>
	<ul>
		<li><strong>e</strong>: toggle editing on/off</li>
		<li><strong>a</strong>: add bookmark</li>
		<li><strong>c</strong>: hide/show controls</li>
		<li><strong>f</strong>: hide/show fresh bookmarks</li>
		<li><strong>s</strong>: hide/show stalebookmarks</li>
		<li><strong>1, 2, 3 ..</strong>: select tags (hover mouse over tags to see shortcuts)</li>
	</ul>
	<h3>bookmarklet</h3>
	<p>
	to simplify adding feeds to pysoso from your browser, drag the below link to your bookmarks toolbar:
	<a href="javascript:location.href='{{ url_for("bookmark_lookup", _external = True) }}?url='+encodeURIComponent(window.location.href)">bookmark</a>
	</p>
</div>

{% endblock %}
