{% extends "layout.html" %}
{% block title %}
	My Bookmarks
{% endblock %}
{% block body %}



<div class="body">
	<div class="bookmarks">

	<div id="bookmarks_active">
		<h2>Fresh</h2>
		<ul>
		{% if bookmarks %}
		{% for bookmark in bookmarks %}
			{% include "bookmark/bookmark.html" %}
		{% endfor %}
		{% else %}
			<li style="margin-left: 32px"><i>sorry, no fresh bookmarks right now</i></li>
		{% endif %}
		</ul>
	</div>

	<hr />

	<div id="bookmarks_stale">
		<h2>Stale</h2>
		<p class="subtitle"><a id="bookmarks_hide" class="active" href="#">show</a></p>
		<ul>
		{% for bookmark in stale %}
			{% include "bookmark/bookmark.html" %}
		{% endfor %}
		</ul>
	</div>

	</div>
	<hr />
	<div class="controls">
		<a href="#" id="edit">edit bookmarks</a>
	</div>

</div>

<div class="body">
	<div class="bookmark_form">
		<h3>Add a New Bookmark</h3>
		{% include "bookmark/form.html" %}
	</div>
</div>

{% endblock %}
