{% extends "layout.html" %}
{% block title %}
	My Bookmarks
{% endblock %}
{% block body %}


<div class="body">
	<div id="bookmarks">
	<div id="bookmarks_active">
		<h2><span style="float: left; margin-right: 1.5em">Fresh</span>
			{% if tags %}
			<span class="tags">
				<!-- <i style="float: left; margin-right: 1em">tags:</i> -->
				<div style="float: left; width: 400px; line-height: 1.4em">
				{% set i = 1 %}
				{% for tag in tags %}
				<a class="tag_show" title="{{ tag }} ({{ i }})" href="#">{{ tag }}</a>
				{% set i = i + 1 %}
				{% endfor %}
				</div>
			</span>
			{% endif %}
			<a class="active bookmarks_show" title="show/hide fresh (f)" href="#"><img src="{{ url_for("static", filename = "icon/magnify.png") }}" alt="show/hide fresh (f)" width="12" height="12" class="icon" /></a>
			<div style="clear: both;"> </div>
		</h2>
		<ul>
		{% if bookmarks %}
		{% for bookmark in bookmarks %}
			{% include "bookmark/bookmark.html" %}
		{% endfor %}
		{% else %}
			<li style="margin-left: 32px; font-size: 83%"><i>
				sorry, no fresh bookmarks right now.
				{% if not stale %}
				<br /><a href="{{ url_for("bookmark_lookup") }}">add a bookmark</a> to get started.
				{% endif %}
			</i></li>
		{% endif %}
		</ul>
	</div> <!-- #bookmarks_active -->

	{% if stale %}

	<div id="bookmarks_stale">
		<h2>Stale <a href="#" title="show/hide fresh (s)" class="bookmarks_show"><img src="{{ url_for("static", filename = "icon/magnify.png") }}" alt="show/hide stale (s)" width="12" height="12" class="icon" /></a></h2>
		<ul class="nodisplay">
		{% if stale %}
		{% for bookmark in stale %}
			{% include "bookmark/bookmark.html" %}
		{% endfor %}
		{% else %}
			<li style="margin-left: 32px"><i>sorry, no stale bookmarks right now</i></li>
		{% endif %}
		</ul>
	</div> <!-- #bookmarks_stale -->

	{% endif %}

	</div> <!-- #bookmarks -->

	{% if stale or bookmarks %}
	<div id="controls">
	<h2>Controls <a class="active bookmarks_show" title="show/hide controls (c)" href="#"><img src="{{ url_for("static", filename = "icon/magnify.png") }}" alt="show/hide controls (c)" width="12" height="12" class="icon" /></a></h2>
	<ul>
		<li><a href="#" id="edit" title="edit bookmarks (e)">edit bookmarks</a><br >
		<li>mark all as:
		<a href="{{ url_for("mark", value = 0) }}" id="mark_fresh">fresh</a>,
		<a href="{{ url_for("mark", value = 1) }}" id="mark_stale">stale</a><br />
		<li>bookmarks open in
		{% if g.prefs["new_window"] %}new tab{% else %}current tab{% endif %}.<br />
		<a href="{{ url_for("pref", key = "new_window", value = 1 - g.prefs["new_window"]) }}">open in
		{% if g.prefs["new_window"] %}current tab{% else %}new tab{% endif %}.
		</a>
	</ul>
	</div> <!-- #controls -->
	{% endif %}

</div>

<div class="body">
	<div class="bookmark_form">
		<h3>Add a New Bookmark</h3>
		{% include "bookmark/form.html" %}
	</div>
</div>

{% endblock %}
