{% extends "layout.html" %}
{% block title %}
	My Bookmarks
{% endblock %}
{% block body %}



<div class="body">
	<div id="bookmarks">
 <span class="color: #bcd" fresh fresh fresh fresh</span>
	<div id="bookmarks_active">
		<h2 style="font-size: 150%; background: #eee; -moz-border-radius: 24px 24px 0 0 ; padding: 18px 24px 12px; margin: -32px -32px 24px -32px; color: #9ab; letter-spacing: 0.0em;">Fresh</h2>
		<ul>
		{% if bookmarks %}
		{% for bookmark in bookmarks %}
			{% include "bookmark/bookmark.html" %}
		{% endfor %}
		{% else %}
			<li style="margin-left: 32px; font-size: 83%"><i>
				sorry, no fresh bookmarks right now.
				{% if not stale %}
				<br /><a href="{{ url_for("bookmark_lookup") }}">add a bookmark</a> to get started.
				{% endif %}
			</i></li>
		{% endif %}
		</ul>
	</div>

	{% if stale %}
	<hr />

	<div id="bookmarks_stale">
		<h2 style="font-size: 150%; background: #eee; padding: 24px; margin: 0 -32px 32px; color: #9ab; letter-spacing: 0.0em">Stale <a href="#" id="bookmarks_show"><img src="{{ url_for("static", filename = "icon/magnify.png") }}" alt="show" width="12" height="12" class="icon" /></a></h2>
		<ul class="nodisplay">
		{% if stale %}
		{% for bookmark in stale %}
			{% include "bookmark/bookmark.html" %}
		{% endfor %}
		{% else %}
			<li style="margin-left: 32px"><i>sorry, no stale bookmarks right now</i></li>
		{% endif %}
		</ul>
		<p class="subtitle"><small>(hidden)</small></p>
	</div>
	{% endif %}

	</div>
	{% if stale or bookmarks %}
	<hr />
	<div class="controls">
		<a href="#" id="edit">edit bookmarks</a> |
		mark all as:
		<a href="{{ url_for("mark", value = 0) }}" id="mark_fresh">fresh</a>,
		<a href="{{ url_for("mark", value = 1) }}" id="mark_stale">stale</a>
	</div>
	{% endif %}

</div>

<div class="body">
	<div class="bookmark_form">
		<h3>Add a New Bookmark</h3>
		{% include "bookmark/form.html" %}
	</div>
</div>

{% endblock %}
