{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}

<div class="body">
	<h2>Sign Up</h2>
	<form action="" method=post>
		<dl>
			<dt>username:
			<dd><input type=text name=username size=30 value="{{ request.form.username }}">
			<dt>email:
			<dd><input type=text name=email size=30 value="{{ request.form.email }}">
			<dt>password:
			<dd><input type=password name=password size=30>
			<dt>password <small>(repeat)</small>:
			<dd><input type=password name=password2 size=30>
		</dl>
		<div class=actions><input type=submit value="Sign Up"></div>
	</form>
</div>

{% endblock %}
